Library/**
Temp/**
Obj/**
Build/**
Builds/**
Logs/**
Assets/AssetStoreTools*

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.svd
*.pidb
*.booproj
*.pdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
